<h1>Name: <%= @tamagotchi.name %></h1>
<h3>Food level: <%= @tamagotchi.food_level %></h3>
<h3>Sleep level: <%= @tamagotchi.sleep_level %></h3>
<h3>Activity level: <%= @tamagotchi.activity_level %></h3>
